## LA LIGA Data Scrapping
For the dataset we are using a popular website "https://fbref.com" which have some  advanced analytical data such as xG, xA, progressive passing, duels and more for over twenty competitions. For this analysis we will only be focusing on the La Liga prediction, as it is very competitive right now with only 4 points separating the first and second place. SO with 7 more games to go

### Força Barça

In [1]:
import pandas as pd
import time
import copy

## Creating Dictionary of datasets

To automate the task of manually copying and pasting the urls and ids I am going to use the for loop with a specific year and storing them all in the "dfs" dictionary

In [ ]:
#Initiating with an empty dictionary
dfs = {}

#Using a for loop to scrape all the season's data
for year in range(2005, 2024):
    next_year = year + 1
    #The links follow a similar structure, so changing the season
    url = f'https://fbref.com/en/comps/12/{year}-{next_year}/{year}-{next_year}-La-Liga-Stats'
    table_id = f'results{year}-{next_year}121_overall'
    
    try:
        df = pd.read_html(url, attrs={'id': table_id})[0] #using 0 to get the headers too
        dfs[f"{year}-{next_year}"] = df 
        print(f"Sucessfully Loaded {year}-{next_year}")
        time.sleep(7) # I got blocked last time for too many req so adding few seconds delay for each iteration

    except Exception as e:
        print(f"Failed to load {year}-{next_year}: {e}")

Sucessfully Loaded 2005-2006
Sucessfully Loaded 2006-2007
Sucessfully Loaded 2007-2008
Sucessfully Loaded 2008-2009
Sucessfully Loaded 2009-2010

In [ ]:
#Randomly sampling some datasets to see if it's correctly loaded
dfs['2007-2008'].head(5)
dfs['2018-2019'].head(5)
dfs['2021-2022'].head(5)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Real Madrid,38,23,7,8,66,40,26,76,2.00,NaN,Ruud van Nistelrooy - 25,Iker Casillas,→ Champions League via league finish
1,2,Barcelona,38,22,10,6,78,33,45,76,2.00,NaN,Ronaldinho - 21,Víctor Valdés,→ Champions League via league finish
2,3,Sevilla,38,21,8,9,64,35,29,71,1.87,NaN,Frédéric Kanouté - 21,Andrés Palop,→ Champions League via league finish
3,4,Valencia,38,20,6,12,57,42,15,66,1.74,NaN,David Villa - 16,Santiago Cañizares,→ Champions League via league finish
4,5,Villarreal,38,18,8,12,48,44,4,62,1.63,NaN,Diego Forlán - 19,Sebastián Viera,→ UEFA Cup via league finish
5,6,Zaragoza,38,16,12,10,55,43,12,60,1.58,NaN,Diego Milito - 23,César Sánchez,→ UEFA Cup via league finish
6,7,Atlético Madrid,38,17,9,12,46,39,7,60,1.58,NaN,Fernando Torres - 15,Leo Franco,→ UEFA Intertoto Cup via league finish
7,8,Recreativo,38,15,9,14,54,52,2,54,1.42,NaN,Florent Sinama Pongolle - 12,Javier López Vallejo,NaN
8,9,Getafe,38,14,10,14,39,33,6,52,1.37,NaN,Dani Güiza - 11,Pato Abbondanzieri,→ UEFA Cup via cup loss 1
9,10,Racing Sant,38,12,14,12,42,48,-6,50,1.32,NaN,Nikola Žigić - 11,Toño,NaN
10,11,Espanyol,38,12,13,13,46,53,-7,49,1.29,NaN,Raúl Tamudo - 15,Carlos Kameni,NaN
11,12,Mallorca,38,14,7,17,41,47,-6,49,1.29,NaN,"Boško Janković, Juan Arango - 9",Toni Prats,NaN
12,13,La Coruña,38,12,11,15,32,45,-13,47,1.24,NaN,Javier Arizmendi - 5,Dudu Aouate,NaN
13,14,Osasuna,38,13,7,18,51,49,2,46,1.21,NaN,Roberto Soldado - 11,Ricardo,NaN
14,15,Levante,38,10,12,16,37,53,-16,42,1.11,NaN,Riga Mustapha - 9,José Molina,NaN
15,16,Betis,38,8,16,14,36,49,-13,40,1.05,NaN,Robert - 9,Toni Doblas,NaN
16,17,Athletic Club,38,10,10,18,44,62,-18,40,1.05,NaN,Aritz Aduriz - 9,Daniel Aranzubia,NaN
17,18,Celta Vigo,38,10,9,19,40,59,-19,39,1.03,NaN,Fernando Baiano - 15,José Manuel Pinto,Relegated
18,19,Real Sociedad,38,8,11,19,32,47,-15,35,0.92,NaN,Sávio - 5,Claudio Bravo,Relegated
19,20,Gimnàstic,38,7,7,24,34,69,-35,28,0.74,NaN,Javier Portillo - 11,Albano Bizzarri,Relegated

In [ ]:
# Making a copy to avoid rescraping the data (already been blocked once)
df_copy = copy.deepcopy(dfs)

In [ ]:
#Checking if any key needs formatting
dfs.keys()

dict_keys(['2005-2006', '2006-2007', '2007-2008', '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016', '2016-2017', '2017-2018', '2018-2019', '2019-2020', '2020-2021', '2021-2022', '2022-2023', '2023-2024', '2024-2025'])

1. Since the year 2005-2006 is on top, and will appear on top of our new combined dataset, let us reverse the order first, 
2. Also some columns might have some extra spaces or upper case formating that might be inconsistent across all the years so stripping extra spaces.
3. Adding a season's column to each dataset to make it easier to track them
4. concating all the datasets to a single dataframe

In [32]:
#We would be stacking the datasets on top of the other
#To make it easier to track let us create a season column for each dataset
complete_df = pd.DataFrame()

for season, df in sorted(dfs.items(),reverse=True):
    df.columns = [col.strip().upper() for col in df.columns]
    df['SEASON'] = season
    complete_df = pd.concat([complete_df,df], ignore_index=True)

In [33]:
complete_df.head(6)

,RK,SQUAD,MP,W,D,L,GF,GA,GD,PTS,...,XG,XGA,XGD,XGD/90,LAST 5,ATTENDANCE,TOP TEAM SCORER,GOALKEEPER,NOTES,SEASON
0,1,Barcelona,31,22,4,5,84,29,55,70,...,73.6,31.8,41.8,1.35,W W W D W,45270.0,Robert Lewandowski - 25,Iñaki Peña,NaN,2024-2025
1,2,Real Madrid,31,20,6,5,64,31,33,66,...,60.3,32.4,27.9,0.90,W W W L W,70146.0,Kylian Mbappé - 22,Thibaut Courtois,NaN,2024-2025
2,3,Atlético Madrid,30,17,9,4,49,24,25,60,...,47.4,28.2,19.2,0.64,W L L D W,61970.0,Julián Álvarez - 12,Jan Oblak,NaN,2024-2025
3,4,Athletic Club,31,15,12,4,49,25,24,57,...,45.7,29.7,16.0,0.52,D W D D W,48380.0,Oihan Sancet - 15,Unai Simón,NaN,2024-2025
4,5,Villarreal,30,14,9,7,53,40,13,51,...,52.4,33.6,18.9,0.63,L L W D W,18588.0,Ayoze Pérez - 13,Diego Conde,NaN,2024-2025
5,6,Betis,31,13,9,9,42,39,3,48,...,46.5,38.7,7.8,0.25,W W W D L,51804.0,Giovani Lo Celso - 7,Rui Silva,NaN,2024-2025

In [28]:
complete_df.describe()

,RK,MP,W,D,L,GF,GA,GD,PTS,PTS/MP,XG,XGA,XGD,XGD/90,ATTENDANCE
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.00000,400.000000,400.000000,400.000000,160.000000,160.000000,160.000000,160.000000,204.000000
mean,10.500000,37.640000,14.112500,9.415000,14.112500,50.11750,50.11750,0.000000,51.745000,1.374975,47.639375,47.640625,0.001875,-0.000437,26461.651961
std,5.773503,1.573719,5.978226,2.929031,5.159593,17.89383,12.27499,25.969425,16.694512,0.438942,11.644547,9.119999,16.707658,0.456331,18098.126771
min,1.000000,30.000000,3.000000,1.000000,1.000000,19.00000,18.00000,-54.000000,16.000000,0.530000,25.200000,28.200000,-32.600000,-0.900000,91.000000
25%,5.750000,38.000000,10.000000,7.000000,11.000000,38.00000,43.00000,-16.250000,41.000000,1.080000,39.725000,41.175000,-11.000000,-0.300000,13677.500000
50%,10.500000,38.000000,13.000000,9.000000,15.000000,46.00000,50.00000,-6.000000,47.000000,1.260000,45.600000,47.350000,-2.850000,-0.075000,20127.500000
75%,15.250000,38.000000,17.000000,11.000000,17.000000,57.00000,58.00000,11.250000,60.000000,1.610000,53.350000,54.225000,10.400000,0.300000,37320.500000
max,20.000000,38.000000,32.000000,18.000000,28.000000,121.00000,94.00000,89.000000,100.000000,2.630000,85.400000,76.200000,42.300000,1.350000,83498.000000

We have 400 columns (20 teams for 20 years), and there might be some missing values in some columns, for instance the "X" (expected) columns which started 8 years ago only is not present in the initial years, thus no value to display.

## Outputting to a CSV file to be used for our analysis

In [31]:
complete_df.to_csv("LA_LIGA_2_decades_df.csv",index=False)